.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    margin: 0;
  }
  
  h1 {
    font-size: 5em; /* Ajusta el tamaño de la fuente según tus preferencias */
  }