ion-content {
    border-top-left-radius: 20px;  /* Ajusta según tu preferencia */
    border-top-right-radius: 20px; /* Ajusta según tu preferencia */
  }
  
  .form-container {
    max-width: 400px;
    margin: auto;
  }
  

.LogoP {
    max-width: 200px; /* Ajusta según tu preferencia */
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
}
  
  