.user-avatar {
    width: 150px; // Ajusta según tus preferencias
    height: 150px; // Ajusta según tus preferencias
    border-radius: 50%;
    overflow: hidden;
  }
  
  /* Añade estilos adicionales según sea necesario */
  