<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      Perfil
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size="auto">
        <!-- Mostrar la foto del usuario en el icono o avatar -->
        <ion-img [src]="userAvatar" class="user-avatar"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col size="auto">
        <!-- Botón para tomar una foto -->
        <ion-button (click)="takePhoto()" expand="block" fill="clear" shape="round">
          Tomar Foto
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

